<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Draw a digit!
      </h1>
    </div>
  </div>
</section>

<section class="section has-background-">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="title">Draw on the left</div>
        <div class="canvas">
          <div class="block-container has-shadow" id="canvas"></div>
        </div>
      </div>
      <div class="column is-2 flex-centered">
        <div class="submit button is-primary">Submit =></div><br>
        <div class="reset button is-danger">Reset</div>
      </div>
      <div class="column is-5">
        <div class="title">Result will be shown here</div>
        <div class="prediction-container has-shadow">
           <div id="prediction" class="flex-centered"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- js -->
<%= javascript_pack_tag 'pages/draw' %>
