<h1 class="title">Draw a digit</h1>
<h2 class="subtitle" id="prediction"></h2>
<div class="reset button is-danger">Reset</div>
<div class="submit button is-primary">Submit</div>

<div class="div" id="canvas"></div>

<!-- js -->
<%= javascript_pack_tag 'pages/draw' %>
