@import "~bulma/bulma"

#canvas
  width: 10 * 28px
  display: flex
  flex-wrap: wrap
  margin: 20px 0

.block
  border: .5px gray solid
  width: 10px
  height: 10px
  margin-bottom: 0 !important
  background-color: black

  &.hovered
    background-color: white
